.floating-action {
    position: fixed;
    width: 5em;
    height: 5em;
    bottom: 10em;
    right: 5em;
    z-index: 1000;
    border-radius: 50%;
  }

  .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.618);
    z-index: 1001;
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 33vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
  }

  .menu > .line {
      display: inline-block;
  }